@font-face {
    font-family: "main";
    src: url("/static/fonts/筑紫A丸by\ 宁静之雨.woff2");
}

html {
    box-sizing: border-box;
    font-family: "main", sans-serif;
    overflow-x: hidden;
    height: 100%;
    background-color: #f8fafc;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 卷軸樣式 */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track-piece {
    background: #f1f1f1;
}

::-webkit-scrollbar-corner {
    background: #f1f1f1;
}

::-webkit-scrollbar-button {
    display: none;
}

/* 切換頁面動畫 */

.page-enter {
    opacity: 0;
    transform: scale(0.8);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

/* 页面离开动画 */
.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 300ms, transform 300ms;
}

/* 菜單分類切換動畫 */

.menuCategory-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.menuCategory-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.menuCategory-exit {
    opacity: 1;
    transform: translateX(0);
}

/* 反方向 */
.menuCategory-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms, transform 300ms;
}

/* 明細列表 border 鋸齒狀樣式 */
.details-list::after {
    content: "";
    bottom: -10px;
    width: 100%;
    height: 10px;
    position: absolute;
    transform: rotate(180deg);
    background: linear-gradient(45deg, transparent 33%, #ffffff 33%, #ffffff 66%, transparent 66%),
        linear-gradient(-45deg, transparent 33%, #ffffff 33%, #ffffff 66%, transparent 66%);
    background-size: 20px 40px;
}

@media screen and (max-width: 768px) {
    #menu-list {
        transition: 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }

    #menu-list.visible {
        max-height: 500px; /* 适当调整高度 */
    }

    /* 动画效果 */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

/* 向右箭頭動畫 */
.icon-arrow-right {
    animation: arrow-right 1s infinite;
}

#order-history:hover .icon-arrow-right,
#order-api:hover .icon-arrow-right {
    animation-play-state: paused;
}

@keyframes arrow-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
